:root {
  --logo-bg: #171717;
  --secondary-color: #e74c3c;
}

.logo_container {
  /* align-items: center; */
  display: table;
  /* display: inline-block; */
  /* vertical-align: middle; */
  color: white
}

.logo_text {
  vertical-align: middle;
  display: table-cell;
}

.logo {
  vertical-align: middle;
  display: table-cell;
  max-width: 5vh;
  max-height: 5vh;
}

/* .logo:hover {
  opacity: 0.8;
}

.logo_text:hover {
  opacity: 0.8;
} */


.logo_container:hover {
  opacity: 0.8;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "menu main sidebar"
    "footer footer footer";
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  height: 100vh;
}

.header {
  background-color: var(--logo-bg);
  color: white;
  font-size: 1.5rem;
  text-align: center;
  grid-area: header;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main {
  background-color: lightblue;
  text-align: center;
  grid-area: main;
}

.menu,
.sidebar {
  background-color: gray;
  color: #ffffff;
}

.footer {
  background-color: var(--logo-bg);
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  grid-area: footer;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 20vh;
  max-height: 30vh;
}

.header,
.main,
.menu,
.sidebar,
.footer {
  padding: 15px;
}

.menu {
  grid-area: menu;
}

.sidebar {
  grid-area: sidebar;
}


/*=============================================================
 * ult styles list li
 *============================================================= */
 ul
{
    margin: 30px 0px 0px 0px;
    list-style: none;
}

a {
  text-decoration:none ;
  /* color:#131921 */
}
