<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{%block title%}{%endblock%}</title>
    {%block head%}
    <meta name="description" content="" />
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins"
    />
    <link rel="icon" href="{{url_for('static', filename='assets/logo.png')}}" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/normalize.css')}}"
    />

    <link href="https://fonts.googleapis.com/css2" />
    <script
      src="https://kit.fontawesome.com/1b04830cf2.js"
      crossorigin="anonymous"
    ></script>
    {%endblock%}

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/layout_simple.css')}}"
    />
    {%block css%}{%endblock%}
  </head>

  <body class="container">
    <!-- HEADER -->

    <div class="header">
      <span
        ><div href="/" class="logo_container">
          <img
            href="/"
            class="logo"
            src="{{url_for('static', filename='assets/logo.png')}}"
            alt="MovieMate Logo"
          />
          <span href="/" class="logo_text">MovieMate</span>
        </div></span
      >
      <span><a href="#">My Movies</a></span>
      <span><a href="#">Community</a></span>

      <!-- Emmanuel's search bar -->
      <div class="search_bar_container">
        <form class="nav_bar_form" method="post" action="{{ url_for('home') }}">
          <!-- <label for="search_type"></label> -->
          <!-- Do it like IMDb search bar-->  
          <select
            id="search_type"
            name="search_type"
            onchange="updateDatalist()"
          >
            <option value="All">All</option>
            <option value="Person">Person</option>
            <option value="Community">Community</option>
            <option value="Titles">Titles</option>
            <option value="TV_eps">TV eps</option>
            <option value="Celebs">Celebs</option>
            <option value="Companies">Companies</option>
            <option value="Genre">Genre</option>
          </select>
          <input
            type="text"
            list="suggestions"
            id="search_text"
            name="search_text"
            required
            placeholder="Search Movie"
          />

          <button type="submit" class="search_button">
            <img
              class="search_icon"
              src="{{url_for('static', filename='assets/search_icon.svg')}}"
              alt="search"
            />
          </button>

          <datalist id="suggestions">
            <!-- Default suggestions is none -->
          </datalist>
        </form>
      </div>

      <div class="header_icon_container" title="Friends"><img class="header_icon" src="{{url_for('static', filename='assets/friends_logo.png')}}" alt="Friends"></div>

      <!-- Profile Dropdown -->
      <!-- default_user_icon.svg -->
      <div class="dropdown">
        <span>Profile</span>
        <div class="dropdown-content">
          <ul>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Friends</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </div>
      </div>
      {%block header%}{%endblock%}
    </div>
    <!-- End_HEADER -->

    <!-- SIDEBAR -->
    <div class="menu">
      {%block sidebar%}
      <div>
        Currently watching

        <div>
          <!-- query -->
          <span>View all movies</span>
          <span>Add movie</span>
          <span>General Update</span>
        </div>
      </div>

      <div>
        Movie challenge
        <!-- generic bar of movies_watched/number -->
      </div>
      <div>
        Want to Watch
        <!-- Query -->
      </div>
      <h2>Categorias</h2>
      <!-- in ul -->
      <!-- query de categorias -->

      {%endblock%}
    </div>
    <!-- End_SIDEBAR -->

    <!-- CONTENIDO -->

    <div class="main">
      {%block content%}
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempus
        nibh a condimentum gravida. Donec accumsan ipsum ac tincidunt
        scelerisque. Integer maximus malesuada vulputate. Mauris cursus enim nec
        vulputate rhoncus. Fusce eu dignissim enim. Phasellus dictum varius
        justo a accumsan. Donec bibendum varius pretium. Suspendisse aliquam
        vulputate lorem eu fermentum. Sed blandit porttitor ex ut laoreet. Nulla
        laoreet velit sed dolor feugiat, ut condimentum felis tincidunt. Donec
        pretium est eget neque ultricies, eu vehicula felis condimentum. Aenean
        bibendum eu felis nec tincidunt. Aenean scelerisque dictum sollicitudin.
        Sed lacinia ullamcorper velit, id volutpat nunc vestibulum sed.
      </p>
      {%endblock%}
    </div>
    <!-- End_CONTENIDO -->

    <div class="sidebar">
      <div>Recommendations</div>
      <p>This is the sidebar.</p>
    </div>

    <!-- FOOTER -->
    <div class="footer" id="load_signal">
      <span
        ><div href="/" class="logo_container">
          <img
            href="/"
            class="logo"
            src="{{url_for('static', filename='assets/logo.png')}}"
            alt="MovieMate Logo"
          />
          <span href="/" class="logo_text">MovieMate</span>
        </div></span
      >

      <ul>
        <li>About us</li>
        <li>Community</li>
        <li>Work with us</li>
        <li>Terms</li>
        <li>Privacy</li>
      </ul>
      <ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
        <li>LinkedIn</li>
      </ul>
    </div>
    <!-- End_FOOTER -->
  </body>

  <script>
    function updateDatalist() {
      var selection = document.getElementById("search_type").value;
      var datalist = document.getElementById("suggestions");

      // Clear existing options
      datalist.innerHTML = "";

      // Add suggestions based on the selected value
      option_list = [];
      switch (selection) {
        case "Person":
          option_list = [];
          break;
        case "Community":
          break;
        case "Celebs":
          option_list = [
            "Emma Watson",
            "Brad Pitt",
            "Kanye West",
            "Angelina Jolie",
            "Leonardo DiCaprio",
            "Robert Downey Jr",
            "Tom Cruise",
            "Will Smith",
            "Morgan Freeman",
            "Johnny Depp",
            "Jennifer Aniston",
            "Marilyn Monroe",
            "Jennifer Lawrence",
            "Margot Robbie",
          ];
          break;
        case "Titles":
        case "TV_eps":
        case "Companies":
          option_list = [];
          break;
        case "Genre":
          option_list = [
            "Adventure",
            "Animation",
            "Children",
            "Comedy",
            "Fantasy",
            "Romance",
            "Drama",
            "Action",
            "Crime",
            "Thriller",
            "Horror",
            "Mystery",
            "Sci",
            "Documentary",
            "IMAX",
            "War",
            "Musical",
            "Western",
            "Film",
          ];
          break;
      }

      addSuggestions(datalist, option_list);
    }

    function addSuggestions(datalist, suggestions) {
      suggestions.forEach(function (suggestion) {
        var option = document.createElement("option");
        option.value = suggestion;
        datalist.appendChild(option);
      });
    }
  </script>
  {%block scripts%} {%endblock%}
</html>

<!-- <script>
  function openNav() {
    document.getElementById("sidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("sidebar").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }
</script> -->
