{%extends "app_layout__simpler.html"%}
<!--  -->
{%block title%}MovieMate{%endblock%}
<!--  -->
{%block css%}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}" />
{%endblock%}

{%block content%}

<div>
  <h3>
    Oops! No matches found for your search.
  </h3>
  <h4>
    Learn how to add it to our database here.
  </h4>
</div>

<div>
  <h2>
    Explore
  </h2>
</div>

<div class="contents">
  <div id="insert_guide"></div>
</div>

{%endblock%}

{%block scripts%}

<script src="{{url_for('static', filename='js/explore_get_rand.js')}}"></script>

{%endblock%}
