{%extends "app_layout__simpler.html"%}
<!--  -->
{%block title%}MovieMate{%endblock%}
<!--  -->
{%block css%}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}" />
{%endblock%}

{%block content%}

{% if results %}
<h2>Resultados:</h2>
<ul>
    {% for result in results %}
        <li>
            <img src="{{ result.poster }}" alt="{{ result.title }}">
            <p>{{ result.title }}</p>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No se encontraron resultados.</p>
{% endif %}

<div class="contents">
  <div id="insert_guide"></div>
</div>

{%endblock%}

{%block scripts%}

<!-- <script src="{{url_for('static', filename='js/explore_get_rand.js')}}"></script> -->

{%endblock%}
