<link rel="stylesheet" href="layout.css">

<style>
  .container {
    display: grid;
    grid-template-areas:
      "header header header"
      "menu main sidebar"
      "footer footer footer";
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    height: 100vh;
  }

  .header {
    background-color: greenyellow;
    font-size: 1.5rem;
    text-align: center;
    grid-area: header;
  }

  .main {
    background-color: lightblue;
    text-align: center;
    grid-area: main;
  }

  .menu,
  .sidebar {
    background-color: gray;
    color: #ffffff;
  }

  .footer {
    background-color: black;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    grid-area: footer;
  }

  .header,
  .main,
  .menu,
  .sidebar,
  .footer {
    padding: 15px;
  }

  .menu {
    grid-area: menu;
  }

  .sidebar {
    grid-area: sidebar;
  }
</style>

<title>Holy Grail Layout</title>

<div class="container">
  <div class="header">
    <h1>This is the header of a Holy Grail Layout.</h1>
  </div>
  <div class="menu">
    <p>This is the menu.</p>
  </div>
  <div class="main">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempus nibh a condimentum gravida. Donec
      accumsan ipsum ac tincidunt scelerisque. Integer maximus malesuada vulputate. Mauris cursus enim nec vulputate
      rhoncus. Fusce eu dignissim enim. Phasellus dictum varius justo a accumsan. Donec bibendum varius pretium.
      Suspendisse aliquam vulputate lorem eu fermentum. Sed blandit porttitor ex ut laoreet. Nulla laoreet velit sed
      dolor feugiat, ut condimentum felis tincidunt. Donec pretium est eget neque ultricies, eu vehicula felis
      condimentum. Aenean bibendum eu felis nec tincidunt. Aenean scelerisque dictum sollicitudin. Sed lacinia
      ullamcorper velit, id volutpat nunc vestibulum sed.</p>
  </div>
  <div class="sidebar">
    <p>This is the sidebar.</p>
  </div>
  <div class="footer">
    <h2>This is the footer.</h2>
  </div>
</div>
